/bugs/*/*
!/bugs/*/*.*

/bugs/*/data.json
/bugs/*/comments.txt
/bugs/*/issue.url
/bugs/*/issue.desktop
/bugs/*/.seen

/bugs/descript.ion

/populate/populate
/populate/random
/populate/last-update.txt

*.exe
*.pdb
*.ilk
*.obj
*.o
*.lib

.svn
*.zip
*.tar
*.tar.*
*.7z
